/* hero section styles start */
.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 5rem;
}
.hero_left_wrapper {
  max-width: 520px;
}
.hero_imgWrapper {
  max-width: 365px;
  width: 80%;
  margin: 0 auto;
}
.hero_heading {
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 15px;
  border-left: 4px solid var(--red);
  border-radius: 5px;
  padding-left: 12px;
}
.twenty-two {
  color: var(--orange);
}
.hero_info {
  text-align: left;
  font-size: 14px;
  margin-bottom: 19px;
}
.primary-btn {
  background: var(--red);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 35px;
  transition: all 0.3s ease-in-out;
}
.primary-btn:hover {
  background: var(--orange);
}
@media only screen and (min-width: 700px) {
  .btn {
    padding: 10px;
    font-size: 14px;
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .hero_wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0;
  }
  .hero_left {
    flex: 3;
  }
  .hero_right {
    flex: 4;
  }
  .hero_heading {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 15px;
    text-align: left;
  }

  .hero_info {
    margin-bottom: 19px;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
  }

  .button_wrapper {
    text-align: left;
  }
  .hero_imgWrapper {
    max-width: 400px;
    width: 90%;
  }
}
@media only screen and (max-width: 900px) {
  .hero_left,
  .hero_right {
    flex: 1;
  }
}
/* hero section styles end */

/* Mission Section styles start */
.mission_title {
  font-size: 24px;
  line-height: 70px;
  color: var(--blue);
  text-align: center;
  margin-bottom: 3rem;
}
.mission_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.mission_item {
  padding: 10px;
  text-align: left;
  border-radius: 12px;
  width: 75%;
}
#mission {
  background: var(--bg-1);
}
#vission {
  background: var(--bg-2);
}
#goal {
  background: var(--bg-3);
}
.mission_icon {
  text-align: left;
  width: 110px;
  margin-bottom: 12px;
}
.mission_item_title {
  font-size: 24px;
  line-height: 70px;
  color: var(--black-5);
  text-align: left;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .mission_title {
    font-size: 48px;
    line-height: 35px;
    margin-bottom: 5rem;
  }
  .mission_wrapper {
    gap: 2rem;
  }
  .mission_item {
    width: 30%;
    padding: 20px;
  }
  .mission_icon {
    width: 125px;
  }
  .mission_item_title {
    font-size: 24px;
    line-height: 36px;
  }
}
/* Mission Section styles end */

/* develop section styles start */
#develop {
  background-image: url("./images/shape.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position-x: 1%;
  background-position-y: 10%;
}
.develop_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 5rem;
}

.develop_imgWrapper {
  max-width: 80%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  #develop {
    background-position-x: 1%;
    background-position-y: 41%;
  }
  .develop_wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1;
  }
  .develop_left {
    flex: 3;
  }
  .develop_right {
    flex: 4;
  }
  .develop_right_wrapper {
    max-width: 650px;
  }
  .develop_imgWrapper {
    max-width: 400px;
  }
}
@media only screen and (min-width: 1200px) {
  #develop {
    background-position-x: 5%;
    background-position-y: 41%;
  }
}
@media only screen and (max-width: 767px) {
  #develop {
    background-position-x: 8%;
  }
  .develop_left,
  .develop_right {
    flex: 1;
  }
}
/* develop section styles end */

/* contact Info section styles*/
.contactInfo__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
.contactInfo__item {
  background-color: var(--bg-2);
  padding: 20px 30px;
  text-align: center;
  text-align: center;
  border-radius: 12px;
  width: 80%;
}
.contactInfo__icon {
  width: 30px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.contactInfo__title {
  font-size: 1.4rem;
  font-family: Poppins;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--black-1);
}
.contactInfo__title a {
  color: var(--blue);
  transition: all 0.5s ease-in-out;
}
.contactInfo__title a:hover {
  color: var(--bg-1);
}
.contactInfo__text {
  font-size: 1.4rem;
  font-family: Raleway;
  color: var(--black-2);
}
@media only screen and (min-width: 768px) {
  .contactInfo__wrapper {
    justify-content: space-between;
    gap: 2rem;
  }
  .contactInfo__item {
    width: 30%;
    padding: 40px 0;
  }
  .contactInfo__icon {
    width: 47px;
    margin-bottom: 2.5rem;
  }
  .contactInfo__title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .contactInfo__text {
    font-size: 1.6rem;
  }
}

/* community styles start */
#community {
  background: url("./images/shape.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: right;
  background-position-x: 90%;
  background-position-y: 55%;
}
.community_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 5rem;
}
@media only screen and (min-width: 674px) {
  #community {
    background-position-y: 53%;
  }
}
@media only screen and (min-width: 220px) {
  #community {
    background-position-y: 27%;
  }
}
@media only screen and (min-width: 375px) {
  #community {
    background-position-y: 31%;
  }
}
@media only screen and (min-width: 425px) {
  #community {
    background-position-y: 37%;
  }
}
@media only screen and (min-width: 654px) {
  #community {
    background-position-y: 52%;
  }
}

@media only screen and (min-width: 768px) {
  #community {
    background-position-x: 100%;
    background-position-y: 80%;
  }
  .community_wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }
  .develop_left {
    flex: 3;
  }
  .develop_right {
    flex: 4;
  }
}
@media only screen and (min-width: 1024px) {
  #community {
    background-position-x: 100%;
    background-position-y: 98%;
  }
}
@media only screen and (min-width: 1200px) {
  #community {
    margin-bottom: 4%;
    background-position-x: 93%;
    background-position-y: 100%;
  }
}
/* community styles end */

/* Newsletter Section start */
.newsletter_wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-1);
  padding: 1.5rem;
  border-radius: 8px;
  gap: 2rem;
}
.newsletter_title {
  font-size: 1.8rem;
  color: var(--black-1);
  font-weight: 600;
  margin-bottom: 1.3rem;
}
.newsletter_text {
  font-size: 1.4rem;
  color: var(--black-2);
  font-weight: 500;
}
.newsletter_form form {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.newsletter_form label {
  width: 100%;
}
.newsletter_form input {
  width: 100%;
  font-size: 1rem;
  padding: 1.5rem 1rem;
  border: none;
}
.newsletter_form input::placeholder {
  color: rgb(168, 166, 166);
}
.newsletter_form button[type="submit"] {
  background-color: var(--orange);
  color: var(--black-1);
  border: none;
  font-size: 1.4rem;
  padding: 0 0.5rem;
  height: 100%;
  /* width: 100%; */
  position: absolute;
  right: 0;
  top: 0;
}
@media only screen and (min-width: 768px) {
  .newsletter_wrapper {
    flex-direction: row;
    padding: 3rem;
    align-items: center;
  }
  .newsletter_info,
  .newsletter_form {
    flex: 1;
  }
  .newsletter_title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .newsletter_text {
    font-size: 1rem;
    max-width: 400px;
  }
  .newsletter_form {
    max-width: 450px;
    border-radius: 12px;
  }
  .newsletter_form input {
    font-size: 1rem;
    padding: 1rem;
  }
  .newsletter_form button[type="submit"] {
    font-size: 1rem;
    padding: 0 2rem;
  }
}
/* Newsletter Section end */

/* Footer Styles start  */
footer {
  background: var(--black-7);
  color: var(--gray);
  text-align: center;
  line-height: 30px;
  padding: 39px 0;
  letter-spacing: 2px;
}
footer h3 {
  font-family: "Lobster", cursive;
  color: var(--white);
}
footer .footer_text h3 span {
  color: var(--red);
}
footer .footer_text p {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.footer_text img {
  width: 1%;
}
@media (max-width: 767px) and (min-width: 426px) {
  .footer_text img {
    width: 3%;
  }
}
@media (max-width: 767px) and (min-width: 426px) {
  .footer_text img {
    width: 3%;
  }
}
@media only screen and (max-width: 425px) {
  .footer_text img {
    width: 5%;
  }
}
/* Footer Styles end  */
